In [2]:
def collect_full_results():
    total_num_profiles = 1757
    url_base = "https://www.recurse.com/api/v1/profiles?"
    offset = 0
    limit = 15
    full_results = []
    while len(full_results) < total_num_profiles:
        sleep(0.9)
        query_string = urlencode(dict(offset=offset, limit=limit))
        url = url_base + query_string
        response = requests.get(url, headers=headers)
        full_results.extend(response.json())
        offset += limit
    return full_results

In [3]:
collect_full_results()

NameError: name 'sleep' is not defined

In [16]:
import os
os.getcwd()
!cd ../
os.getcwd()

'/Users/christinejiang/Documents/Python/personal_projects/MNIST_fashion_recognizer'

In [17]:
import pandas as pd
pd.read_pickle('../../../../Downloads/1586982421264891000_full.pickle')

,before_rc_hl,before_rc_match,before_rc_rendered,before_rc_truncated,bio_hl,bio_match,bio_rendered,bio_truncated,company,current_location,...,phone_number_rendered,phone_number_truncated,pronouns,results_count,slug,stints,twitter,unformatted_phone_number,zoom_url,most_recent_date
0,Founder of Ksplice (rebootless kernel updates)...,None,<p>Founder of Ksplice (rebootless kernel updat...,Founder of Ksplice (rebootless kernel updates)...,None,None,,None,"{'id': 972, 'name': 'Kandra Labs, Inc.'}","{'id': 22419, 'name': 'San Francisco, CA', 'sh...",...,<p>703-859-1830</p>\n,703-859-1830,None,1757,1421-tim-abbott,"[{'id': 989, 'type': 'residency', 'title': Non...",None,+17038591830,None,2016-11-21
1,None,None,,None,,None,,,NaN,"{'id': 21799, 'name': 'New York City, NY', 'sh...",...,<p>8148601795</p>\n,8148601795,None,1757,1146-ahmed-abdalla,"[{'id': 640, 'type': 'retreat', 'title': None,...",simplyahmaz1ng,+18148601795,None,2016-03-28
2,I worked at Kickstarter as a full-stack engine...,None,<p>I worked at Kickstarter as a full-stack eng...,I worked at Kickstarter as a full-stack engine...,None,None,,None,"{'id': 2243, 'name': 'Paradox'}","{'id': 21726, 'name': 'Brooklyn, NY', 'short_n...",...,<p>626-487-4511</p>\n,626-487-4511,He/his | They/their,1757,3537-brian-abelson,"[{'id': 2121, 'type': 'retreat', 'title': None...",abelsonlive,+16264874511,None,2019-09-23
3,"Python, Flask, Django, Docker, Nagois",None,"<p>Python, Flask, Django, Docker, Nagois</p>\n","Python, Flask, Django, Docker, Nagois",None,None,,None,NaN,"{'id': 8251, 'name': 'Accra, Ghana', 'short_na...",...,,,he/him,1757,3696-anthony-anabila-abeo,"[{'id': 2390, 'type': 'retreat', 'title': None...",anthonyabeo7,None,https://us04web.zoom.us/j/5636082962,2020-03-30
4,"I worked with a few startups building apps, au...",None,"<p>I worked with a few startups building apps,...","I worked with a few startups building apps, au...",None,None,,None,"{'id': 1265, 'name': 'Monzo'}","{'id': 7744, 'name': 'London, United Kingdom',...",...,<p>+447398681879</p>\n,+447398681879,He/His,1757,2257-jaseem-abid,"[{'id': 1206, 'type': 'retreat', 'title': None...",jaseemabid,+447398681879,None,2017-05-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1752,* 2.5 years as an institutional investor (aka ...,None,<ul>\n<li>2.5 years as an institutional invest...,* 2.5 years as an institutional investor (aka ...,None,None,,None,NaN,"{'id': 21799, 'name': 'New York City, NY', 'sh...",...,<p>9174353373</p>\n,9174353373,None,1757,2997-kevin-zhu,"[{'id': 1752, 'type': 'retreat', 'title': None...",None,+19174353373,None,2019-01-07
1753,"physics PhD dropout, security engineering",None,"<p>physics PhD dropout, security engineering</...","physics PhD dropout, security engineering",None,None,,None,NaN,"{'id': 22419, 'name': 'San Francisco, CA', 'sh...",...,<p>3143970911</p>\n,3143970911,None,1757,1514-yan-zhu,"[{'id': 38, 'type': 'residency', 'title': None...",bcrypt,+13143970911,None,2016-07-16
1754,I was a Design Lead at Jet.com and Walmart. I ...,None,<p>I was a Design Lead at Jet.com and Walmart....,I was a Design Lead at Jet.com and Walmart. I ...,None,None,,None,NaN,"{'id': 2797, 'name': 'Toronto, Canada', 'short...",...,<p>412-638-2398</p>\n,412-638-2398,He/his,1757,2707-ari-zilnik,"[{'id': 1562, 'type': 'retreat', 'title': None...",azilnik,+14126382398,None,2018-04-02
1755,None,None,,None,None,None,,None,"{'id': 299, 'name': 'Artsy'}",NaN,...,,,None,1757,361-damon-zucconi,"[{'id': 147, 'type': 'retreat', 'title': None,...",dzucconi,None,None,2013-06-03
1756,None,None,,None,None,None,,None,NaN,"{'id': 22419, 'name': 'San Francisco, CA', 'sh...",...,<p>6287588099</p>\n,6287588099,She/her,1757,2755-elsa-zuckerman,"[{'id': 1595, 'type': 'retreat', 'title': None...",None,+16287588099,None,2018-07-02